html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  margin: 0;
}

.element {
  min-height: 80vh;
  border: 1px solid grey;
}

.navbar {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}

.navbar ul li.list-item.selected {
  font-weight: bold;
}

.element.active {
  background-color: lightgreen;
}
